{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(formG) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(formG) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formG.name) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(formG.pegi) }}
        </div>
    </div>
{{ form_end(formG) }}
</div>
{% endblock %}
